body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #a50505;
}

.name {
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    bottom: 400px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    animation: new 10s linear infinite;

}
.name::before{
    content: '';
    width: 10px;
    height: 100vh;
    background: #ff5e5e;
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: -1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.name::after{
    content: '';
    width: 10px;
    height: 3px;
    background: #ff5e5e;
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: -1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
@keyframes new {
    15%{
        position: relative;
        bottom: -120px;

    }
    50%{
        position: relative ;
        bottom: -120px;

    }
    80%{
        position: relative;
        bottom: -120px;

    }
    
}
.name:nth-child(2){
    animation-delay: 1s;
}
.name:nth-child(3){
     animation-delay: 2s
}
.name:nth-child(4){
    animation-delay: 3s;
}
.name:nth-child(5){
    animation-delay: 4s;
}